@import "normalize.css";
body {
  background: #eee;
}
body #page_container {
  background: #fff;
  padding: 21px;
  width: 900px;
  min-height: 500px;
  margin: 1em auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}
header {
  margin: -21px;
  margin-bottom: 21px;
}
header nav {
  margin-bottom: 1em;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav li {
  display: block;
  float: left;
  padding: 1em 0;
  width: 234.5px;
  margin: 0;
  color: #777;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #ddd);
  border: 1px solid #ccc;
  border-right-width: 0;
}
header nav li:last-child {
  width: 235.5px;
  border-right-width: 1px;
}
#main {
  position: relative;
}
#main #clear_data {
  position: absolute;
  top: 0;
  right: 1em;
}
table.expenses td {
  padding: 2px 10px 2px 0;
}
table.expenses td.date {
  color: #555;
}
table.expenses td.amount {
  text-align: right;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2em;
  color: #999;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
#drop_zone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
}
#hover_cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28% 0;
  overflow: hidden;
  text-align: center;
  background: rgba(0,0,0,0.20);
  z-index: 1000;
}
#hover_cover.file_hover {
  display: block;
}
