table.expenses
  thead td
    background: #ddd
    background-linear-gradient(#eee, #ddd)
    font-size: 0.9em
    border: 1px solid #aaa
    cursor: pointer

  td
    padding: 2px 15px
    &.date
      color: #555
    &.amount
      text-align: right
      font-weight: bold
      font-family: monospace
      font-size: 1.2em
      color: #999

