@import "normalize.css"

// Colours:
$page_background = #eee
$background = white

html
  background: $page_background

  body
    background: $background
    padding: 1em
    width: 900px
    margin: 1em auto

header
  nav
    margin-bottom: 1em
  nav ul
    margin: 0
    padding: 0
  nav li
    display: inline-block
    padding: 4px 15px 4px 0

body > section
  display: none

#import
  display: block
