@import "normalize.css"
@import "mixins"

// Colours:
$text_colour = #444
$page_background = #eee
$background = white
$action = #59A12F

// Fonts:
$default_font_stack = 'Open Sans', 'Lucida Sans', sans-serif

// Layout:
$width = 900px
$main_padding = 20px


body
  font-family: $default_font_stack
  color: $text_colour
  background: $page_background

  #page_container
    background: $background
    width: $width
    min-height:500px
    margin: 1em auto
    box-shadow: 0 0 8px rgba(0,0,0,0.08)

header
  background: #bbb
  background-linear-gradient(#ccc, #bbb)

  nav ul
    margin: 0
    padding: 0
  nav li
    display: block
    float: left
    vendor('box-sizing', border-box)
    width: ($width/4)
    margin: 0
    color: #777
    font-weight: bold
    text-align: center
    border: 1px solid #ccc
    border-right-width: 0

    &:last-child
      border-right-width: 1px

    a
      color: #777
      text-decoration: none
      display: inline-block
      width: 100%
      padding: 1em 0
      text-shadow: 1px 1px 0 white
      background: #ddd
      background-linear-gradient(#eee, #ddd)

      &.active
        vendor(box-shadow, 0 0 8px #bbb inset)
        background-linear-gradient(#eee, #ccc)

#main
  position: relative
  padding: $main_padding

  > section > h1
    margin-top: 0

h1
  font-size: 1.5em
h2
  font-size: 1.3em
  margin: 1.5em 0 0.5em
p
  line-height: 1.5
  margin: 0.6em 0
  max-width: 45em

button
  font-size: 0.9em
  font-weight: bold
  font-family: $default_font_stack
  color: white
  background: $action
  background-linear-gradient(lighten($action, 30%), $action)
  border: 1px solid darken($action, 5%)
  padding: 0.4em 1.2em
  border-radius(5px)

button.passive
  color: $text_colour
  background: #eee
  border: 1px solid darken(#eee, 20%)
  background-linear-gradient(#eee, #ddd)

table.expenses
  thead td
    background: #ddd
    background-linear-gradient(#eee, #ddd)
    border: 1px solid #aaa
    cursor: pointer

  td
    padding: 2px 10px
    &.date
      color: #555
    &.amount
      text-align: right
      font-weight: bold
      font-family: monospace
      font-size: 1.2em
      color: #999


// Helper classes
.hide
  display: none

.clear
  clear: both


// Drag and drop-related elements:
#drop_zone
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  z-index:9999

#hover_cover
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 28% 0
  font-size: 2em
  font-weight: bold
  text-shadow: 1px 1px 0 #fff
  overflow: hidden
  text-align: center
  background: rgba(0,0,0,0.3)
  z-index:1000

  &.file_hover
    display: block

#clear_data
  position: fixed
  bottom: $main_padding
  right: $main_padding
