@import "normalize.css"
@import "mixins"

// Colours:
$text_colour = #444
$page_background = #eee
$background = white
$action = #59A12F

// Fonts:
$default_font_stack = 'Open Sans', 'Lucida Sans', sans-serif

// Layout:
$width = 900px
$main_padding = 20px

@import "base"
@import "layout"
@import "dragndrop"
@import "expenses"
